<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="eqctrl.cancelClick()"><span class="glyphicon glyphicon-remove"></span>
        </button>
        <h3 class="modal-title">{{eqctrl.modalTitle}}</h3>
    </div>
    <div class="modal-body">
        </div>
    <div class="container-fluid">
        <div class="form-group required">
            <label for="quotaName" class="control-label">Name</label>
            <input type="text" class="form-control" id="quotaName" placeholder="Name" ng-model="eqctrl.name">
        </div>
        <div class="form-group required">
            <label for="quotaDescription" class="control-label">Description</label>
            <textarea class="form-control" id="quotaDescription" placeholder="Description" rows="5" ng-model="eqctrl.description"></textarea>
        </div>
        <div class="form-group">
            <label class="control-label">Quota</label>

            <div class="row">
                <div class="form-group col-sm-3">
                    <div class="input-group">
                        <input type="number" class="form-control" id="quota" placeholder="Quota size"
                               ng-model="eqctrl.converted_quota_size">
                    </div>
                </div>

                <div class="form-group col-sm-2">
                    <div class="input-group">
                        <ui-select class="form" ng-model="eqctrl.unit" search-enabled="false">
                            <ui-select-match>
                                <span ng-bind="eqctrl.unit"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="item in ['GB', 'TB']">
                                <span ng-bind="item"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
    <div class="modal-footer">
        <button ng-disabled="!eqctrl.isClickable()" ng-click="eqctrl.okClick()" class="btn btn-primary pull-right" type="button">
            <span class="glyphicon glyphicon-ok">OK</span>
        </button>
    </div>
</div>